STRWEB/LR1/mysite/.venv/
STRWEB/LR1/mysite/cleaningsite/cleaningsite/__pycache__
STRWEB/LR1/mysite/cleaningsite/main/__pycache__
STRWEB/LR2/mysite/.venv/
STRWEB/LR2/mysite/cleaningsite/cleaningsite/__pycache__
STRWEB/LR2/mysite/cleaningsite/main/__pycache__
STRWEB/LR3/mysite/.venv/
STRWEB/LR3/mysite/cleaningsite/cleaningsite/__pycache__
STRWEB/LR3/mysite/cleaningsite/main/__pycache__
.vscode/