{% extends 'main/base.html' %}

{% block title %}Управление типами услуг{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column;">
    <h1>Все типы услуг</h1>
    {% for servicetype in servicetypes %}
      <div>
        {{ servicetype.name }}
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="action" value="edit">
            <input type="hidden" name="servicetype_id" value="{{ servicetype.id }}">
            <button type="submit" style="margin-left: 10px; color: blue;">Изменить</button>
        </form>
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="servicetype_id" value="{{ servicetype.id }}">
            <button type="submit" style="margin-left: 10px; color: red;">Удалить</button>
        </form>
      </div>
    {% endfor %}
</div>

<h1>{% if editing %}Изменение{% else %}Добавление{% endif %} типа услуги</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="{% if editing %}update{% else %}add{% endif %}">
        {% if editing %}Сохранить изменения{% else %}Добавить{% endif %}
    </button>
    {% if editing %}
        <input type="hidden" name="servicetype_id" value="{{ servicetype.id }}">
    {% endif %}
</form>
{% endblock %}
