{% extends 'main/base.html' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}

<h1>Политика конфиденциальности</h1>
1. Введение
Мы, ЧистоМэн, уважаем вашу конфиденциальность и обязуемся защищать ваши личные данные. Эта Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию при использовании нашего сайта [URL вашего сайта] ("Сайт").

2. Собираемые данные
2.1 Личные данные
Мы можем собирать следующие личные данные:

Имя
Электронная почта
Телефонный номер
Адрес
2.2 Не личные данные
Мы также можем собирать не личные данные, такие как:

IP-адрес
Тип браузера
Дата и время посещения
Страницы, которые вы посещаете
3. Использование данных
Мы используем собранные данные для следующих целей:

Для предоставления и улучшения наших услуг
Для связи с вами, включая отправку уведомлений и рекламных материалов
Для анализа использования нашего Сайта и улучшения его функциональности
Для соблюдения юридических обязательств
4. Раскрытие данных
Мы не продаем, не обмениваемся и не передаем ваши личные данные третьим сторонам, за исключением следующих случаев:

Поставщики услуг: Мы можем передавать ваши данные сторонним провайдерам, которые предоставляют услуги от нашего имени (например, хостинг, аналитика). Эти третьи стороны обязаны защищать ваши данные и использовать их только в рамках предоставленных нам инструкций.
Юридические требования: Мы можем раскрывать ваши данные, если это требуется по закону, для выполнения судебных приказов или в ответ на запросы государственных органов.
5. Безопасность данных
Мы принимаем разумные меры для защиты ваших данных от несанкционированного доступа, использования или раскрытия. Однако ни один метод передачи данных через интернет или метод электронного хранения не является абсолютно безопасным, и мы не можем гарантировать абсолютную безопасность.

6. Права пользователей
Вы имеете право:

Запрашивать доступ к вашим личным данным и исправление неточных данных.
Требовать удаления ваших данных, если они больше не нужны для целей, для которых они были собраны.
Отказаться от получения рекламных сообщений от нас.
7. Cookies и аналогичные технологии
Наш Сайт использует файлы cookies и аналогичные технологии для повышения удобства пользователей и анализа использования нашего Сайта. Вы можете настроить ваш браузер для блокировки cookies, однако это может повлиять на функциональность нашего Сайта.

8. Ссылки на сторонние сайты
Наш Сайт может содержать ссылки на сторонние сайты. Мы не несем ответственность за политику конфиденциальности или практики третьих сторон. Пожалуйста, ознакомьтесь с политикой конфиденциальности каждого сайта, который вы посещаете.

9. Изменения в Политике конфиденциальности
Мы можем время от времени обновлять эту Политику конфиденциальности. Все изменения будут опубликованы на этой странице, и мы рекомендуем вам периодически проверять её на предмет изменений.

10. Контактная информация
Если у вас есть вопросы или комментарии относительно этой Политики конфиденциальности, пожалуйста, свяжитесь с нами:

Электронная почта: cleanMen@gmail.com
Адрес: г. Минск, ул. Чистая, 12
Телефон: +375456363058

{% endblock %}
