
{% extends 'main/base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1>Данные профиля</h1>
{% if is_superuser %}
    <p><strong>Имя :</strong> {{ nickname.username }}</p>
{% elif is_employee%}
    {% if user.photo %}
    <p>Фото:</strong> <br> <img src="{{ user.photo.url }}" alt="Фото сотрудника" width="250" height="250"></p>
    {% endif %}
    <p><strong>Никнейм :</strong> {{ nickname.username }}</p>
    <p><strong>ФИО пользователя:</strong> {{ user.full_name }}</p>
    <p><strong>Рабочий телефон:</strong> {{ user.work_phone }}</p>
    <p><strong>Рабочая почта:</strong> {{ user.work_email }}</p>
    <p><strong>Описание работ:</strong> {{ user.description }}</p>
    <p><strong>День рождения:</strong> {{ user.birth_date |date:"d/m/Y"}}</p>
    <p><strong>Специализации:</strong></p>
    <ul>
        {% for specialization in user.specializations.all %}
            <li>{{ specialization.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p><strong>Никнейм:</strong> {{ nickname.username }}</p>
    <p><strong>ФИО пользователя:</strong> {{ user.full_name }}</p>
    <p><strong>Имя компании:</strong> {{ user.company_name }}</p>
    <p><strong>Контактный телефон:</strong> {{ user.contact_phone }}</p>
    <p><strong>Вид пользователя:</strong> {{ user.get_customer_type_display }}</p>
{% endif %}
{% if not is_superuser %}
<form action="{% url 'edit_profile' %}" method="get">
    <button type="submit" style="background-color: orange; color: white; padding: 10px; border: none; cursor: pointer;">Изменить</button>
</form>
<br>
{% endif %}
<p>Часовой пояс: {{user_zone.user_timezone}}</p>
<p>Сегодняшнее число: {{user_zone.current_date_formatted}}</p>
<pre>Календарь: {{user_zone.calendar_text}}</pre>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" name="action" value="logout" style="background-color: orange; color: white; padding: 10px; border: none; cursor: pointer;">Выйти из аккаунта</button>
</form>
{% endblock %}
